@use "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  // monokai
  --color-monokai-dark: #272822;
  --color-monokai-fg: #f8f8f2;
  --color-monokai-bg: #49483e;
  --color-monokai-border: #fff3;
  --color-monokai-comment: #75715e;
  --color-monokai-yellow: #e6db74;
  --color-monokai-orange: #fd971f;
  --color-monokai-red: #f92672;
  --color-monokai-magenta: #ae81ff;
  --color-monokai-blue: #66d9ef;
  --color-monokai-cyan: #a1efe4;
  --color-monokai-green: #a6e22e;

  // sonokai
  --color-sonokai-black: #1f1e1c;
  --color-sonokai-dark: #242120;
  --color-sonokai-fg: #e4e3e1;
  --color-sonokai-bg: #312c2b;
  --color-sonokai-border: #fff3;
  --color-sonokai-bg_dim: #242120;
  --color-sonokai-bg0: #312c2b;
  --color-sonokai-bg1: #393230;
  --color-sonokai-comment: #75715e;
  --color-sonokai-yellow: #f0c66f;
  --color-sonokai-orange: #f08d71;
  --color-sonokai-red: #f92672;
  --color-sonokai-magenta: #9fa0e1;
  --color-sonokai-blue: #81d0c9;
  --color-sonokai-cyan: #a1efe4;
  --color-sonokai-green: #a6cd77;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
