a.nav-link { 
  font-weight: bold;
  transition: all 300ms ease-in-out;
}

a span {
  color: #fff;
}

a {
  color: inherit;
}

a.active,
a:visited, 
a:active,
.nav-link.active,
.nav-link:hover, 
.nav-link:focus {
  color: #B5C18E;
}

.form-control,
.form-control:focus {
  border: 1px solid #B5C18E;
}