[Unit]
Description=Hono api.agrocomm.com.br
After=network.target

[Service]
User=nginx
WorkingDirectory=/var/www/agrocomm/apps/api
ExecStart=/home/nginx/.bun/bin/bun /var/www/agrocomm/apps/api/src/index.ts
#Restart=on-failure
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target